<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO App</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>
    <div class="box" id="heading">
      <h1>
        <%= listTitle %>
      </h1>
    </div>
    <h2>
      <%= locals.errorMessage %>
    </h2>
    <div class="box">
      <% tasks.forEach(task=> { %>
        <div class="item">
          <input type="checkbox" name="" id="">
          <p>
            <%=task%>
          </p>
        </div>
        <% }) %>
          <form class="item" action="/" method="post">
            <input type="text" name="task" placeholder="New Task">
            <button class="addBtn" type="submit" name="button" value="<%=listTitle%>">+</button>
          </form>
    </div>

  </body>

</html>