<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      span {
        font-size: 1rem;
      }
    </style>
  </head>

  <body>
    <form action="/" method="post">
      <input type="number" name="num1">
      <input type="number" name="num2">
      <br><br>
      <span>+</span><input type="radio" value="+" name="operator">
      <span>-</span><input type="radio" value="-" name="operator">
      <br><br>
      <span>/</span><input type="radio" value="/" name="operator">
      <span>*</span><input type="radio" value="*" name="operator">
      <br><br>
      <button type="submit">Submit</button>
    </form>
  </body>

</html>