<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="./css/styles.css">
  </head>

  <body>
    <div class="box" id="heading">
      <h1>Task Can't be left empty</h1>
    </div>
    <form action="/error">
      <button class="btn" type="submit">Add Again</button>
    </form>
  </body>

</html>